<div class="container">
  <div class="card m-3">
    <div class="card-header">
      <h2>Zadanie 1</h2>
    </div>
    <div class="card-body">
      <h3>Obliczanie puszek potrzebnych na pomalowanie powierzchni</h3>
      <label for="surface">Podaj powierzchnię (w m<sup>2</sup>)</label>
      <input type="number" class="form-control" step="0.01" name="surface" id="surface" class="form-control" #surfaceInput>
      <button class="btn btn-primary btn-block mt-2" (click)="calculate(surfaceInput.valueAsNumber)">Policz</button>
      <p *ngIf="farby">Liczba jednolitrowych puszek farby potrzebnych do pomalowania wynosi: {{farby}}.</p>
    </div>
  </div>
  <div class="card m-3">
    <div class="card-header">
      <h2>Zadanie 2</h2>
    </div>
    <div class="card-body">
      <h3>Strefa zamówień</h3>
      <div class="form">
        <label for="shapenr">Numer kształtu:</label>
        <input type="number" [defaultValue]="1" class="form-control" name="shapenr" id="shapenr" #shapeNrInput>
        <label for="colorcompose">Skomponuj swój kolor, podaj RGB</label>
        <div class="form-group" id="colorcompose">
          <div class="row">
            <div class="col-4">
              <label for="colorr">R:</label>
            </div>
            <div class="col-4">
              <label for="colorg">G:</label>
            </div>
            <div class="col-4">
              <label for="colorb">B:</label>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <input type="number" [value]="color.red" max="255" min="0" step="1" [defaultValue]="255" class="form-control" name="colorr" id="colorr" (input)="changeR(colorR.valueAsNumber)" #colorR>
            </div>
            <div class="col-4">
              <input type="number" [value]="color.green" max="255" min="0" step="1" [defaultValue]="255" class="form-control" name="colorg" id="colorg" (input)="changeG(colorG.valueAsNumber)" #colorG>
            </div>
            <div class="col-4">
              <input type="number" [value]="color.blue" max="255" min="0" step="1" [defaultValue]="255" class="form-control" name="colorb" id="colorb" (input)="changeB(colorB.valueAsNumber)" #colorB>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-4">
              <app-progress-bar [value]="color.red" [min]="0" [max]="255" [color]="'#F00'"></app-progress-bar>
            </div>
            <div class="col-4">
              <app-progress-bar [value]="color.green" [min]="0" [max]="255" [color]="'#0F0'"></app-progress-bar>
            </div>
            <div class="col-4">
              <app-progress-bar [value]="color.blue" [min]="0" [max]="255" [color]="'#00F'"></app-progress-bar>
            </div>
          </div>

          <div class="row mx-1 mt-3">
            <button class="btn btn-primary" [ngStyle]="{backgroundColor: btnColor}" [disabled]="colorInvalid()" (click)="changeColor()">Kolor</button>
          </div>
          <p>{{order ?? "Zamówienie"}}</p>
          <button class="btn btn-primary" (click)="onOrder(shapeNrInput.valueAsNumber)">Zamówienie</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card m-3">
    <div class="card-header">
      <h2>Zadanie 3</h2>
    </div>
    <div class="card-body">
      <h3>Proste działania</h3>
      <label for="firstNumber">Podaj pierwszą liczbę</label>
      <input type="number" name="firstNumber" id="firstNumber" class="form-control" #firstInput>
      <label for="secondNumber">Podaj pierwszą liczbę</label>
      <input type="number" name="secondNumber" id="secondNumber" class="form-control" #secondInput>
      <div class="btn-group container-fluid mt-3">
        <button *ngFor="let calculation of calculations" class="btn btn-secondary" (click)="result = calculation.calculate(firstInput.valueAsNumber, secondInput.valueAsNumber)">{{calculation.name}}</button>
      </div>
      <p class="mt-3 p-2 bg-dark text-light rounded">
        Wynik: {{result ? validValue(result) ? result : "ERROR" : ""}}
      </p>
    </div>
  </div>

</div>
